@import url("https://fonts.googleapis.com/css2?family=Anton:wght@400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --font-primary: "Anton", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --color-background: #f2f2f2;
  --color-text: #202020;
  --color-muted: #555;
  --color-summary: #666;
  --font-size-larger: 2.5rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
  --padding-large: 2.5rem;
  --padding-medium: 1.5rem;
  --padding-small: 1rem;
  --margin-medium: 1.5rem;
  --margin-small: 0.5rem;
}

:root {
  --font-primary: "Anton", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --color-background: #f2f2f2;
  --color-text: #202020;
  --color-muted: #555;
  --color-summary: #666;
  --font-size-larger: 2.5rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
  --padding-large: 2.5rem;
  --padding-medium: 1.5rem;
  --padding-small: 1rem;
  --margin-medium: 1.5rem;
  --margin-small: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--color-text) var(--color-background);
  scrollbar-width: thin;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  overflow: hidden;
  transition: width 0.5s ease, padding-right 0.5s ease;
}

main {
  margin: 0;
  padding: var(--padding-medium);
  min-height: 100vh;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

::selection {
  background: var(--color-muted);
  color: var(--color-background);
}

img {
  width: 100%;
  height: auto;
}

hr {
  border: 0.03125rem solid var(--color-text);
  margin-top: 0.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-muted);
}

:root {
  --font-primary: "Anton", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --color-background: #f2f2f2;
  --color-text: #202020;
  --color-muted: #555;
  --color-summary: #666;
  --font-size-larger: 2.5rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
  --padding-large: 2.5rem;
  --padding-medium: 1.5rem;
  --padding-small: 1rem;
  --margin-medium: 1.5rem;
  --margin-small: 0.5rem;
}

h1 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: calc(10rem + 5vw);
  margin: 0;
}

h2 {
  font-family: var(--font-secondary);
  font-weight: 200;
  font-size: calc(0.5rem + 1vw);
  margin-left: calc(5rem + 2vw);
  max-width: 75%;
}

h3 {
  font-size: var(--font-size-larger);
  font-weight: 400;
  margin: 1rem 0 0 0;
}

h4 {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 20px;
  margin-top: var(--margin-small) 0;
}

p {
  margin: 0;
}

.email {
  font-weight: 600;
}

a.info-btn, a.email {
  text-decoration: none;
  color: var(--color-text);
  position: relative;
}
a.info-btn::after, a.email::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(90deg, var(--color-muted), var(--color-muted));
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s ease-in;
}
a.info-btn:hover::after, a.email:hover::after {
  background-size: 100% 2px;
}
a.website-image-link {
  text-decoration: none;
  color: var(--color-text);
  position: relative;
  display: block;
  overflow: hidden;
}
a.website-image-link img {
  transition: filter 0.3s ease;
}
a.website-image-link .visit-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
a.website-image-link:hover img {
  filter: brightness(50%);
}
a.website-image-link:hover .visit-overlay {
  opacity: 1;
}
a.logo {
  text-decoration: none;
  color: var(--color-text);
}

:root {
  --font-primary: "Anton", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --color-background: #f2f2f2;
  --color-text: #202020;
  --color-muted: #555;
  --color-summary: #666;
  --font-size-larger: 2.5rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
  --padding-large: 2.5rem;
  --padding-medium: 1.5rem;
  --padding-small: 1rem;
  --margin-medium: 1.5rem;
  --margin-small: 0.5rem;
}

header {
  display: flex;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 999;
  transition: background 0.3s ease;
}
.navbar .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
  height: 50px;
}

.container-logo {
  display: flex;
  justify-content: flex-start;
  padding: 24px;
}

.logo {
  font-size: var(--font-size-small);
  font-weight: 800;
}
.logo:hover {
  text-decoration: none;
}

footer {
  background-color: var(--color-text);
  margin: 0;
  padding: var(--padding-medium);
  padding: 0 1rem;
  color: var(--color-background);
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.h1-footer {
  font-size: 24vw;
  color: var(--color-background);
  opacity: 0.5;
  box-sizing: border-box;
  line-height: 1.4;
  will-change: transform, opacity;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

:root {
  --font-primary: "Anton", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --color-background: #f2f2f2;
  --color-text: #202020;
  --color-muted: #555;
  --color-summary: #666;
  --font-size-larger: 2.5rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
  --padding-large: 2.5rem;
  --padding-medium: 1.5rem;
  --padding-small: 1rem;
  --margin-medium: 1.5rem;
  --margin-small: 0.5rem;
}

#filter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-medium);
}

.filter-divider {
  border: 1px solid #ccc;
  margin: 16px 0;
}

#filterMenu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 56px;
  align-items: start;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.filter-category {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 24px;
  margin-bottom: 20px;
  align-items: start;
}
.filter-category h4 {
  grid-column: 1/-1;
  font-size: var(--font-size-small);
}
.filter-category span {
  font-size: var(--font-size-small);
}

.filter-container-buttons {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-medium);
}

.common-tags {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

#filterButton,
#loadMoreButton,
#searchToggle,
.filter-tag {
  color: var(--color-text);
  font-size: var(--font-size-medium);
  font-family: var(--font-secondary);
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  display: inline-flex;
}
#filterButton span,
#loadMoreButton span,
#searchToggle span,
.filter-tag span {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  cursor: pointer;
}
#filterButton span::before,
#loadMoreButton span::before,
#searchToggle span::before,
.filter-tag span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(90deg, var(--color-muted), var(--color-muted));
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s ease-in;
}
#filterButton span:hover::before,
#loadMoreButton span:hover::before,
#searchToggle span:hover::before,
.filter-tag span:hover::before {
  background-size: 100% 2px;
}
#filterButton.active,
#loadMoreButton.active,
#searchToggle.active,
.filter-tag.active {
  color: var(--color-text);
}
#filterButton.active span::before,
#loadMoreButton.active span::before,
#searchToggle.active span::before,
.filter-tag.active span::before {
  background-size: 100% 2px;
}

#loadMoreButton {
  margin-top: 1.25rem;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
#loadMoreButton span {
  pointer-events: auto;
}

#searchContainer {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1000;
  transition: all 0.5s ease-out;
}

#searchInput {
  padding: 1rem;
  width: 25rem;
  border: 0.125rem solid var(--color-muted);
  font-family: var(--font-secondary);
  background-color: var(--color-background);
  font-size: 16px;
}

#closeSearch {
  cursor: pointer;
  background-color: var(--color-background);
  color: var(--color-text);
  position: absolute;
  padding-left: 1rem;
  top: 1.1rem;
  right: 1rem;
}
#closeSearch:hover {
  color: #ff0000;
}

.autocomplete-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-background);
  border: 0.125rem solid #ddd;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.autocomplete-suggestion {
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid var(--color-muted);
  font-size: var(--font-size-small);
}
.autocomplete-suggestion:hover {
  background-color: #f0f0f0;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding-top: 1.5rem;
}
.info-container p {
  color: var(--color-muted);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 0.3rem;
}

.info-btn {
  font-weight: 500;
}

.info-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.info-section {
  text-align: center;
  max-width: 400px;
  width: 100%;
}
.info-section p {
  margin-top: 1rem;
  text-align: justify;
}

#error-message {
  padding-top: 20rem;
  padding-bottom: 20rem;
}
#error-message p {
  display: flex;
  justify-content: center;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  line-height: 1.2;
}

body.preloader-active {
  overflow: hidden;
  width: 100vw;
  padding-right: 0;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}
#preloader.hidden {
  opacity: 0;
  visibility: hidden;
}
#preloader h1 {
  font-size: 4rem;
  color: var(--color-text);
  margin: 0;
  animation: fadeOut 1.5s forwards;
}

.loader-slide {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-slide.open {
  animation-name: slideOut;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--margin-medium);
}

.website-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, transform;
}
.website-card.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.website-card.visible {
  opacity: 1;
  transform: translateY(0);
}
.website-card img {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}
.website-card img:hover {
  filter: brightness(70%);
}
.website-card img.blurred {
  filter: blur(10px);
  transition: filter 2s ease-out;
}
.website-card img:not(.blurred) {
  filter: none;
}

.website-image-link {
  position: relative;
  display: block;
}
.website-image-link img {
  display: block;
  width: 100%;
}

.visit-overlay {
  position: absolute;
  top: 48%;
  left: 48%;
  color: var(--color-background);
  font-size: 18px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.website-image-link:hover .visit-overlay {
  opacity: 1;
  transform: translateY(0);
}

.website-info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-name {
  font-size: var(--font-size-medium);
  font-weight: 400;
  margin: 0;
}

.website-tags {
  font-size: var(--font-size-small);
  color: var(--color-muted);
  margin: 0.5rem 0;
  display: flex;
  gap: 1rem;
}

.website-summary {
  font-size: 1rem;
  color: var(--color-summary);
  margin: 0.5rem 0;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
:root {
  --font-primary: "Anton", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --color-background: #f2f2f2;
  --color-text: #202020;
  --color-muted: #555;
  --color-summary: #666;
  --font-size-larger: 2.5rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
  --padding-large: 2.5rem;
  --padding-medium: 1.5rem;
  --padding-small: 1rem;
  --margin-medium: 1.5rem;
  --margin-small: 0.5rem;
}

@media (min-width: 1920px) and (min-height: 1080px) {
  #filterMenu {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 48px;
  }
  #filterButton,
  .filter-tag {
    font-size: var(--font-size-large);
  }
  .filter-category h4,
  .filter-category span {
    font-size: var(--font-size-medium);
  }
}
@media (min-width: 2560px) {
  #filterButton,
  .filter-tag {
    font-size: var(--font-size-larger);
  }
  .filter-category h4,
  .filter-category span {
    font-size: var(--font-size-larger);
  }
  #searchToggle {
    font-size: var(--font-size-larger);
    margin-top: 2rem;
  }
  .navbar .container {
    padding: 0 24px;
    height: 60px;
    align-items: center;
  }
  .info-section {
    font-size: var(--font-size-large);
    max-width: 800px;
  }
  .logo {
    font-size: var(--font-size-large);
  }
}
@media (max-width: 1420px) {
  h1 {
    font-size: 12rem;
  }
  h2 {
    margin-left: 6rem;
  }
  #filterMenu {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
  }
}
@media (max-width: 1160px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 7.5rem;
  }
  .website-info-block {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1024px) {
  #filterMenu {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 32px;
  }
}
@media (max-width: 955px) {
  h2 {
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  main {
    padding-top: var(--padding-large);
  }
  h1 {
    font-size: calc(4rem + 5vw);
  }
  h3 {
    font-size: var(--font-size-medium);
    margin: 0;
  }
  .filter-tag {
    font-size: 1.2rem !important;
  }
}
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
  main {
    padding-top: 44px;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    margin-left: 0;
    max-width: 100%;
  }
  .gallery-container {
    grid-template-columns: 1fr;
  }
  #searchContainer {
    top: 36%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  footer {
    padding: var(--padding-small);
  }
  #filterMenu {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 24px;
  }
  .filter-tag {
    font-size: 1rem !important;
  }
}
@media (max-width: 700px) {
  main {
    padding: var(--font-size-small);
  }
  h1 {
    font-size: 3.5rem;
    margin-top: 1.5rem;
  }
  .info-container {
    margin-top: 1rem;
    justify-content: center;
    transition: all 0.5s ease-out;
  }
  #commonTagsContainer .filter-tag:nth-child(n+5) {
    display: none;
  }
}
@media (max-width: 480px) {
  #filterMenu {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  #searchInput {
    width: 90vw;
  }
  #searchContainer {
    top: 36%;
  }
  .h1-footer {
    font-size: 23vw;
    line-height: 1.8;
  }
  #commonTagsContainer .filter-tag {
    display: none;
  }
  .container-logo {
    padding: 1rem;
  }
  .info-section {
    padding: 1rem;
  }
}