@import 'variables';

// Importing Fonts
@import url("https://fonts.googleapis.com/css2?family=Anton:wght@400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// General Styling
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--color-text) var(--color-background);
  scrollbar-width: thin;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  overflow: hidden;
  transition: width 0.5s ease, padding-right 0.5s ease;
}

main {
  margin: 0;
  padding: var(--padding-medium);
  min-height: 100vh;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

::selection {
  background: var(--color-muted);
  color: var(--color-background);
}

img {
  width: 100%;
  height: auto;
}

hr {
  border: 0.03125rem solid var(--color-text);
  margin-top: 0.5rem;
}

// Custom Scrollbar Styling
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-text);

  &:hover {
    background-color: var(--color-muted);
  }
}