@import url("https://fonts.googleapis.com/css2?family=Anton:wght@400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Global CSS Variables */
:root {
    --font-primary: "Anton", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --color-background: #f2f2f2;
    --color-text: #202020;
    --color-muted: #555;
    --color-summary: #666;
    --color-selection-bg: #202020;
    --color-selection-text: #f2f2f2;
    --color-border: #20202085;
    --font-size-larger: 2.5rem;
    --font-size-large: 1.5rem; /* 24px */
    --font-size-medium: 1.5rem; /* 24px */
    --font-size-small: 1rem; /* 16px */
    --padding-small: 0.5rem; /* 8px */
    --padding-medium: 1.5rem; /* 24px */
    --margin-small: 0.5rem; /* 8px */
    --margin-medium: 1.5rem; /* 24px */
}

/* General Body Styling */
body {
    font-family: var(--font-secondary);
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
}

.main {
    margin: 0rem;
    padding: var(--padding-medium);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

::selection {
    background: var(--color-selection-bg);
    color: var(--color-selection-text);
}

/* Header Styling */
header {
    display: flex;
    padding: 0 1rem; /* 16px left and right */
}

.header-headings {
    display: flex;
    align-items: center;
}

/* Link Styling */
a {
    text-decoration: none;
    color: var(--color-text);
    font-size: var(--font-size-large);
}

a:hover {
    text-decoration: underline;
}

/* Heading Styles */
h1 {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: calc(
        10rem + 5vw
    ); /* Responsive font size based on viewport width */
    margin: 0;
}

h2 {
    font-family: var(--font-secondary);
    font-weight: 200;
    font-size: calc(
        0.4rem + 1vw
    ); /* Responsive font size based on viewport width */
    margin-left: calc(3rem + 2vw); /* Responsive margin */
    max-width: 85%;
}

h4 {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 20px;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

/* Image Styling */
img {
    width: 100%;
    height: auto;
}

/* Horizontal Rule Styling */
hr {
    border: 0.03125rem solid var(--color-border); /* 0.5px */
    margin-top: 0.5rem; /* 8px */
}

/* Gallery Grid Styling */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--margin-medium);
}

/* Website Card Styling */
.website-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.website-card img {
    width: 100%;
    height: auto;
}

.website-info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-name {
    font-size: var(--font-size-medium);
    font-weight: 400;
    margin: 0;
}

.website-tags {
    font-size: var(--font-size-small);
    color: var(--color-muted);
    margin: 0.625rem 0; /* 10px */
}

.website-summary {
    font-size: 1rem;
    color: var(--color-summary);
    margin: 0.625rem 0; /* 10px */
}

/* Filter Container Styling */
#filter-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-bottom: var(--margin-medium);
}

#tag-filters {
    margin-top: 0.625rem; /* 10px */
}

#tag-filters label {
    margin-right: 0.9375rem; /* 15px */
    font-size: var(--font-size-small);
}

/* Filter Option Styling */
.filter-tag {
    cursor: pointer;
    margin-bottom: var(--margin-small);
    font-size: 20px;
}

.filter-tag:hover,
.filter-tag.active {
    text-decoration: underline;
}

#filterMenu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 56px;
    align-items: start;
    overflow-x: auto;
    white-space: nowrap;
}

.filter-category {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 24px;
    margin-bottom: 20px;
    align-items: start;
}

.filter-category h4 {
    grid-column: 1 / -1;
}

.filter-container-buttons {
    display: flex;
    justify-content: space-between;
}

.common-tags {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

/* Filter Button Styling */
#filterButton,
#loadMoreButton,
#searchToggle,
.filter-tag {
    color: var(--color-text);
    font-size: var(--font-size-large);
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#filterButton:hover,
#loadMoreButton:hover,
#searchToggle:hover,
.filter-tag:hover {
    text-decoration: underline;
}

.filter-tag.active {
    text-decoration: underline;
}

/* Load More Button Styling */
#loadMoreButton {
    margin-top: 1.25rem; /* 20px */
}

/* Search Bar Styling */
#searchContainer {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
}

#searchInput {
    padding: 0.9375rem; /* 15px */
    width: 25rem; /* 400px */
    border: 0.125rem solid #ddd; /* 2px */
    font-family: var(--font-secondary);
}

#closeSearch {
    cursor: pointer;
    background-color: #fff;
    color: var(--color-text);
    position: absolute;
    padding-left: 0.625rem; /* 10px */
    top: 0.9375rem; /* 15px */
    right: 0.625rem; /* 10px */
}

#closeSearch:hover {
    color: #ff0000;
}

/* Footer Styling */
footer {
    background-color: var(--color-text);
    margin: 0;
    padding: 0;
    color: var(--color-selection-text);
    /* height: 50vh; */
}

.footer-text {
    margin: 1rem 0 0 1rem;
    font-size: 2.75rem; /* 44px */
}

nav {
    position: fixed;
    left: 94vw;
    margin-top: 1rem; /* 16px */
}

h3 {
    font-size: var(--font-size-larger);
    font-weight: 400;
    margin: 1rem 0 0 1rem;
}

p {
    margin: 0;
}

.email {
    font-size: var(--font-size-larger);
    font-weight: 600;
    color: var(--color-background);
    margin: 0 0 0 1rem; /* top | right | bottom | left */
}

/* Responsive Styles */

/* For tablets and large phones (max-width: 1024px) */
@media (max-width: 1024px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 7.5rem; /* 120px */
    }

    #searchInput {
        width: 100%;
    }
}

/* For mobile phones (max-width: 768px) */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
    }

    h2 {
        margin-left: 0;
        max-width: 100%;
    }

    nav {
        left: 70%;
    }

    .gallery-container {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 5rem; /* 80px */
    }

    #searchContainer {
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
