@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* General body styling */
body {
    font-family: "Inter", sans-serif;
    background-color: #f2f2f2;
    color: #202020;
    margin: 0;
}

.main {
    margin: 0rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

::selection {
    background: #202020;
    color: #f2f2f2;
}

/* Header styling */
header {
    display: flex;
    /* justify-content: space-between; */
    padding: 0 1rem; /* top and bottom | left and right */
}

.header-headings {
    display: flex;
    align-items: center;
}

/* Link styling */
a {
    text-decoration: none;
    color: #202020;
    font-size: 24px;
}

a:hover {
    text-decoration: underline;
}

/* Heading styles */
h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 240px;
    margin: 0;
    /* text-decoration: underline; */
}

h2 {
    margin-left: 9rem;
    font-weight: 200;
    max-width: 440px;
}

/* Image styling */
img {
    width: 100%; /* Make images responsive */
    height: auto;
}

hr {
    border: 0.5px solid #20202085;
    margin-top: 8px;
}

/* Gallery grid styling */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default to three equal columns */
    gap: 20px;
}

/* Website card styling */
.website-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Website card image styling */
.website-card img {
    width: 100%;
    height: auto;
}

/* Website info styling */
.website-info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-name {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

.website-tags {
    font-size: 0.9rem;
    color: #555;
    margin: 10px 0;
}

.tags {
    color: #007bff;
}

.website-summary {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

/* Filter container styling */
#filter-container {
    margin-bottom: 20px;
}

/* Filter options */
#tag-filters {
    margin-top: 10px;
}

#tag-filters label {
    margin-right: 15px;
    font-size: 0.9rem;
}

.filter-option {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}

.filter-option:hover {
    text-decoration: underline;
}

.filter-option.active {
    text-decoration: underline;
}

#filterMenu {
    display: none;
}

/* Filter button styling */
#filterButton {
    color: #202020;
    font-size: 24px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#loadMoreButton {
    color: #202020;
    font-size: 24px;
    background: none;
    border: none;
    margin-top: 2rem;
    padding: 0;
    cursor: pointer;
}
#loadMoreButton:hover {
    text-decoration: underline;
}

#filterButton:hover {
    text-decoration: underline;
}

/* Search bar styling */
#searchContainer {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Hidden by default */
    z-index: 1000;
}

#searchInput {
    padding: 15px;
    width: 400px;
    border: 2px solid #ddd;
    font-family: "Inter", sans-serif;
}

/* Search toggle button styling */
#searchToggle {
    cursor: pointer;
    color: #202020;
    font-size: 24px;
    margin-left: 1rem;
}

#searchToggle:hover {
    text-decoration: underline;
}

/* Search close button */
#closeSearch {
    cursor: pointer;
    background-color: #fff;
    color: #202020;
    position: absolute;
    padding-left: 10px;
    top: 15px;
    right: 10px;
}

#closeSearch:hover {
    color: #ff0000;
}

/* Footer */

footer {
    background-color: #202020;
    margin: 0;
    padding: 0;
    color: #f2f2f2;
}

nav {
    position: fixed;
    left: 90%;
    margin-top: 16px;
}

/* Responsive Styles */

/* For tablets and large phones (min-width: 768px) */
@media (max-width: 1024px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }

    h1 {
        font-size: 120px; /* Adjust heading size for smaller screens */
    }

    #searchInput {
        width: 100%; /* Full width on smaller devices */
    }
}

/* For mobile phones (min-width: 480px) */
@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: 1fr; /* Single column */
    }

    h1 {
        font-size: 80px; /* Further adjust heading size for mobile screens */
    }

    #searchContainer {
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
